* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: roboto condensed;
}

h1 {
    font-size: 2.25em;
}

p {
    font-size: 1.25em;
    text-indent: 50px;;
}
header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 50px;
    z-index: 100;
}

a{
box-sizing: content-box;
text-decoration:none;
color:black;
background-color:#FAFF1A;
/* padding: 10% 10%; */
width: 200px;
height: 150px;
font-weight: bold;
transition:0.3s;
font-size: 2em;
}

    

a:hover{
    background-color:white;
}

.header-button {
    /* border: solid; */
    height: 40px;
}

.button-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    /* color: antiquewhite; */
    width: 100vw;
    height: 100vh;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card-1 {
    background-color: #FAFF1A
}

.hello-top {
    width: 100vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-2 {
    flex-direction: row;
    justify-content: space-between;
}

.card-title {
    background-color: black;
    width: 100vw;
    height: 33vh;
}

.ct-2 {
    background-color: white;
    background-image: url(./about-me.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    /* background-attachment: fixed; */
}

.am-cont {
    background-color: black;
    width: 75vw;
    height: 67vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */

    contain: content;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    height: 35vw;
    box-sizing: border-box;
    background-image: url(./am-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
}

.am-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 75%;
    padding-left: 40px;
    margin-top: 100px;
    color: white;
}

.self-pic-box {
    display: flex;
    align-items: center;
    background-color: black;
    /* flex-grow: 1; */
    width: 25vw;
    height: 67vh;
}

.self-pic {
    background-image: url(./beard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 90%;
    height: 90%;
}

.ct-3 {
    /* background-color: white; */
    background-image: url(./skills.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
}

.logo-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: yellow;
    height: 67vh;
}

.logo-wrap {
    /* background-color: gray; */
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    align-content: center;
    contain: content;
    font-size: 5em;

}

.logo {
    color: black;
    /* border: solid; */
    width: 100px;
    padding-bottom: 1%;
    text-align: center;;
    /* background-color: black; */
    /* width: 10%; */
    /* height: 100px; */
    /* padding-bottom: 10%; */
    /* border: solid; */
}

.logo-pic {
    width: 100px;
    padding-bottom: 1%;
    /* border: solid; */
}

.card-4 {
    flex-direction: column;
    background-color: black;
}

.ct-4 {
    background-image: url(./projects.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    background-color: black;
    width: 10%;
    padding-bottom: 45%;
    box-sizing: border-box;
    contain: content;
}

.project-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 75%;
    contain: content;
}

.project-pic {
    background-color: black;
    width: 35%;
    background-image: url(./hk-screenshot.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    /* height: 35%; */
    padding-bottom: 35%;
    box-sizing: border-box;
    contain: content;
}

.card-title-vert {
    background-color: black;
    width: 10%;
    /* height: 35%; */
    padding-bottom: 45%;
    box-sizing: border-box;
    contain: content;
}


.project-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    width: 35%;
    height: 90%;
    background-image: url(./hk-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 5%;
}

.pa-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    color: white;
}

.project-links {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 25%;
    gap: 10%;
}

.project-github {
    /* background-color: white; */
    width: 10%;
    height: 60%;
}

.project-website {
    /* background-color: white; */
    width: 10%;
    height: 60%
}

.ct-5 {
    background-image: url(./contact-me.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
}

.personal-links {
    background-image: url(./head.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
    width: 100vw;
    height: 67vh;
    gap: 10%;
}

.personal-linkdin {
    /* background-color: black; */
    width: 10%;
    height: 20%
}

.personal-github {
    /* background-color: black; */
    width: 10%;
    height: 20%
}

.personal-email {
    /* background-color: black; */
    width: 10%;
    height: 20%
}

.email-button {
    content: "maaicle@gmail.com";
}

.email-button{
    box-sizing: content-box;
    text-decoration:none;
    color:black;
    background-color:#FAFF1A;
    /* padding: 10% 10%; */
    width: 200px;
    height: 150px;
    font-weight: bold;
    transition:0.3s;
    font-size: 2em;
    /* border: solid; */
    /* white-space: pre-wrap; */
}

.email-button:hover {
    font-size: 0;
}

.email-button:hover:after{
    font-size: 34px;
    content: "maaicle @gmail.com"
}

#card-4 {
    height: 50px;
    background-color: #FAFF1A;
}